[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
scipy = "*"
sklearn = "*"
einops = "*"
jupyter = "*"
notebook = "*"
matplotlib = "*"
pillow = "*"

[dev-packages]
black = "*"
pytest = "*"
isort = "*"
pyupgrade = "*"
pytest-cov = "*"
flake8 = "*"
mypy = "*"

[scripts]
test = "make test"
lint = "make lint"
format = "make format"
