[project]
name = "kitsuyui_ml.torch_ext"
dynamic = ["version"]
description = "Kitsuyui's PyTorch modules for machine learning playground"
requires-python = ">=3.10"
readme = { file = "README.md", content-type = "text/markdown" }
authors = [
    {name = "Yui KITSU", email = "kitsuyui+github@kitsuyui.com"}
]
classifiers = [
    "Private :: Do Not Upload",
]
dependencies = [
    "torch",
]

[dependency-groups]
dev = [
    "dev-shared",
]

[project.urls]
Homepage = "https://github.com/kitsuyui/ml-playground"

[build-system]
requires = ["setuptools", "setuptools_scm"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
package-dir = { "" = "src" }
package-data = { "*" = ["README.md, LICENSE", "py.typed", "*.pyi"] }

[tool.setuptools.packages.find]
where = ["src/"]
include = ["kitsuyui_ml.torch_ext"]

[tool.setuptools_scm]
version_file = "./src/kitsuyui_ml/torch_ext/_version.py"
root = "../.."

[tool.uv.sources]
dev-shared = { workspace = true }

[tool.poe]
include = "../dev-shared/poe.tasks.toml"
