[project]
name = "kitsuyui_ml.legacy"
dynamic = ["version"]
description = "A playground for publishing packages to PyPI"
# https://scientific-python.org/specs/spec-0000/
requires-python = ">=3.12"
readme = { file = "README.md", content-type = "text/markdown" }
authors = [
    {name = "Yui KITSU", email = "kitsuyui+github@kitsuyui.com"}
]
classifiers = [
    "Private :: Do Not Upload",
]

dependencies = [
    "torch",
    "numpy",
    "scipy",
    "scipy-stubs",
    "scikit-learn",
    "einops",
    "jupyter",
    "notebook",
    "matplotlib",
    "pillow",
    "spacy",
    "pandas",
    "geopy",
    "sympy",
    # "polars",
    "polars-lts-cpu",
    "timevec",
    "pyarrow",
    "human-readable",
    "seaborn",
    "torchviz",
    "onnx",
    "graphviz",
]
[project.urls]
Homepage = "https://github.com/kitsuyui/pypi-playground"

[build-system]
requires = ["setuptools", "setuptools_scm"]
build-backend = "setuptools.build_meta"

[dependency-groups]
dev = [
    "dev-shared",
    "syrupy",
    "nbmake",
    "pandas-stubs",
]

[tool.setuptools]
package-dir = { "" = "src" }
package-data = { "*" = ["README.md, LICENSE", "py.typed", "*.pyi"] }

[tool.setuptools.packages.find]
where = ["src/"]
include = ["kitsuyui_ml.legacy"]

[tool.setuptools_scm]
version_file = "./src/kitsuyui_ml/legacy/_version.py"
root = "../.."

[tool.uv.sources]
dev-shared = { workspace = true }

[tool.poe]
include = "../dev-shared/poe.tasks.toml"


[tool.poe.tasks.test-notebooks]
cmd = "pytest --nbmake ${target}"
args = [
    { name = "target", default = "notebooks", multiple = true, positional = true },
]
